body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    background: url(/images/images/dark);
}

header {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-decoration-line: red;
    
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
    color: red;
    text-decoration-line: underline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffdd57;
}

section {
    padding: 2rem;
    text-align: center;
}

section #gallery{
    width: 100px;
    height: 100px;
}

.menu-item {
    display: inline-block;
    background: rgb(13, 3, 3);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 20px;
    width: 220px;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #e68900;
    transform: scale(1.1);
}

.slider-container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.slider {
    display: flex;
    width: 100%;
    animation: slide 9s infinite;
}

.slider img {
    width: 33.33%;
    border-radius: 15px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-33.33%); }
    66% { transform: translateX(-66.66%); }
    100% { transform: translateX(0); }
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #d2691e;
    color: white;
}